[tool.black]
line-length = 100
target-version = ["py311"]

[tool.ruff]
line-length = 100
target-version = "py311"
lint.select = ["E", "F", "I"]
lint.ignore = ["E501"]

[tool.mypy]
python_version = "3.11"
ignore_missing_imports = true
